<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.corporalevaluation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.example.corporalevaluation.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.corporalevaluation.PeopleActivity"
            android:label="@string/title_activity_people" >
        </activity>
        <activity
            android:name="com.example.corporalevaluation.ProtocolsActivity"
            android:label="@string/title_activity_protocols" >
        </activity>
        <activity
            android:name="com.example.corporalevaluation.EvaluationsActivity"
            android:label="@string/title_activity_evaluation" >
        </activity>
        <activity
            android:name="com.example.corporalevaluation.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
